aws_region          = "us-east-1"
environment         = "dev"
resource_prefix     = "tkt-capstone"
container_image     = "<AWS_ACCOUNT_ID>.dkr.ecr.us-east-1.amazonaws.com/ticketdesk-backend:a1b2c3d"
container_port      = 8080
app_count           = 2
fargate_cpu         = "256"
fargate_memory      = "512"
